<h2 class="contentTitle">edit seller</h2>
<div id="seller_edit_box" class="pageContent">
	<form method="post" action="./dwz/demo/common/ajaxDone.html" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="96">
			{{with .seller_info}}
			<div class="seller-box">
				<p>
					<label>id :</label>
					<input name="referenceid" value={{.id}} type="text" size="30"  readonly="true" />
				</p>
				<p>
					<label>name :</label>
					<input name="name" type="text" size="30" value={{.name}}  class="required"/>
				</p>
				<p>
					<label>business_type :</label>
					<input name="business_type" type="text" size="30" value="{{.type}}"  class="required"/>
				</p>
				<div class="unit">
					<p>
						<label>country :</label>
						<input name="country" value="{{.country}}" type="text" size="30" />
					</p>
					<p>
						<label>timezone :</label>
						<input name="timezone" type="text" value = "{{.timezone}}" size="30" />
					</p>
					<p>
						<label>state :</label>
						<input name="state" value="{{.state}}" type="text" size="30" />
					</p>
					<p>
						<label>city :</label>
						<input name="city" value="{{.city}}" type="text" size="30" />
					</p>
					<p>
						<label>district :</label>
						<input name="district" value="{{.district}}" type="text" size="30" />
					</p>
					<p>
						<label>street :</label>
						<input name="street" value="{{.street}}" type="text" size="30" />
					</p>
					<p>
						<label>house :</label>
						<input name="house" value="{{.house}}" type="text" size="30" />
					</p>
					<p>
						<label>postcode :</label>
						<input name="postcode" value="{{.postcode}}" type="text" size="30" />
					</p>
					<p>
						<label>geo_location :</label>
						<input name="geo_location" value="{{.geo_location}}" type="text" size="30" />
					</p>

				</div>
				<p>
					<label>phone_number :</label>
					<input name="phone_number" value="{{.phone_number}}" type="text" size="30" />
				</p>
				<div class="unit">
					<label>description :</label>
					<textarea  name="description" value="{{.description}}" rows="6" cols="104">description</textarea>
				</div>
				<p>
					<label>tags :</label>
					<input name="tags" value="{{.tags}}" type="text" size="30" />
				</p>
				<p>
					<label>partner_level :</label>
					<input name="partner_level" value="{{.partner_level}}" type="text" size="30" />
				</p>
				<p>
					<label>cuisine :</label>
					<input name="cuisine" type="text" value="{{.cuisine}}" size="30" />
				</p>
				<p>
					<label>halal :</label>
					<input name="halal" value="{{.halal}}" type="text" size="30" />
				</p>
				
				<p>
					<label>tax :</label>
					<input name="tax" value="{{.tax}}" type="text" size="30" />
				</p>
				<p>
					<label>commission :</label>
					<input name="commission" value="{{.commission}}" type="text" size="30" />
				</p>
				<p>
					<label>status :</label>
					<input name="status" value="{{.status}}" type="text" size="30" />
				</p>
				<p>
					<label>active :</label>
					<input name="active" value="{{.active}}" type="text" size="30" />
				</p>
				<div class="unit">
					<div class="left service_hours">
						<div>service_hours :</div>
						<ul class="day-time-select">
							{{with .service_hours}}
							<li  class="clearfix">
								<label>Monday :</label>
								{{with .mon}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li  class="clearfix">
								<label>Tuesday :</label>
								{{with .tue}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li  class="clearfix">
								<label>Wednesday :</label>
								{{with .wed}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li  class="clearfix">
								<label>Thursday :</label>
								{{with .thu}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li  class="clearfix">
								<label>Friday :</label>
								{{with .fri}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li class="clearfix">
								<label>Saturday :</label>
								{{with .sat}}
								<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							<li  class="clearfix">
								<label>Sunday :</label>
								{{with .sun}}
								<input name="service_hours" class="timepick" value={{.start}} type="text" size="10" />
								<span>-</span>
								<input name="service_hours" class="timepick" value={{.end}} type="text" size="10" />
								{{end}}
							</li>
							{{end}}
						</ul>
					</div>
					<div class="right opening_hours">
						<div>opening_hours :</div>
							<ul class="day-time-select">
								{{with .opening_hours}}
								<li  class="clearfix">
									<label>Monday :</label>
									{{with .mon}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li  class="clearfix">
									<label>Tuesday :</label>
									{{with .tue}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li  class="clearfix">
									<label>Wednesday :</label>
									{{with .wed}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li  class="clearfix">
									<label>Thursday :</label>
									{{with .thu}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li  class="clearfix">
									<label>Friday :</label>
									{{with .fri}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li class="clearfix">
									<label>Saturday :</label>
									{{with .sat}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								<li  class="clearfix">
									<label>Sunday :</label>
									{{with .sun}}
									<input name="opening_hours" class="timepick" value={{.start}} type="text" size="10" />
									<span>-</span>
									<input name="opening_hours" class="timepick" value={{.end}} type="text" size="10" />
									{{end}}
								</li>
								{{end}}
							</ul>
						</div>
				</div>
				<div class="unit">
					<label>homepage_href :</label>
					<!--dom结构部分-->
					<div class="upload-img-one">
						<!-- class img-one:单张图 img-more:多张图 data-input-name代表后台对象的接收字段名-->
	                    <div class="img-picker img-one">select </div>
	                    <div class="img-show wh100" data-input-name="homepage_href"></div>
	                </div>
				</div>
				<div class="unit">
					<label>icon :</label>
					<!--dom结构部分-->
					<div class="upload-img-one">
						<!-- class img-one:单张图 img-more:多张图 data-input-name代表后台对象的接收字段名-->
	                    <div class="img-picker img-one">select </div>
						{{range .icon_href}}
	                    <div class="img-show wh100" data-input-name="{{.}}"></div>
						{{end}}
	                </div>
				</div>
				<div class="unit">
					<label>photo :</label>
					<!--dom结构部分-->
					<div class="upload-img-one">
						<!-- class img-one:单张图 img-more:多张图 data-input-name代表后台对象的接收字段名-->
	                    <div class="img-picker img-more">select </div>
						{{range .photo_href}}
	                    <div class="img-show wh100" data-input-name="{{.}}"></div>
						{{end}}
	                </div>
				</div>
				<div class="unit clearfix">
					<div class="buttonActive"><div class="buttonContent"><button type="submit">save</button></div></div>
					<div class="button"><div class="buttonContent"><button type="button" class="close">cancel</button></div></div>
				</div>
				<hr>
			</div>
			{{end}}
			<div class="item-box">
				<h2 class="contentTitle">item list</h2>
				<table class="table" width="100%">
					<thead>
						<tr>
								<!--字段对应区域开始-->
								<th>name</th>
								<th>seller_id</th>
								<th>type</th>
								<th>estimated_price</th>
								<!--字段对应区域结束-->
							<th>operate</th>
						</tr>
					</thead>
					<tbody>
					{{with .items}}
					{{range .}}
						<!-- data list  -->
						<tr target="sid_user" rel="2">
							<!--字段对应区域开始-->
							<td>{{.name}}</td>
							<td>{{.sellerid}}</td>
							<td>{{.type}}</td>
							<td>{{.price}}</td>
							<!--字段对应区域结束-->
							<td>
								<a title="item delete" target="ajaxTodo" href="./dwz/demo/common/ajaxDone.html?id={{.id}}" class="btnDel">delete</a>
								<a title="item edit" rel="item_edit" target="navTab" href="./server/item/edit.html?id={{.id}}" class="btnEdit">edit</a>
							</td>
						</tr>
						<!-- data list -->
				{{end}}
				{{end}}
					</tbody>
				</table>
			</div>
			<div class="catalog-box">
				<h2 class="contentTitle">catalog list</h2>
				{{with .catalogs}}
				{{range .}}
				<table class="table" width="100%">
					<thead>
						<tr>
							<!--字段对应区域开始-->
							<th>catalog_name</th>
							<th>catalog_status</th>
							<th>seller_id</th>
							<th>updated_time</th>
							<!--字段对应区域结束-->
							<th>operate</th>
						</tr>
					</thead>
					<tbody>
						<!-- data list  -->
						<tr target="sid_user" rel="2">
							<!--字段对应区域开始-->
							<td>{{.catalog_name}}</td>
							<td>{{.catalog_status}}</td>
							<td>{{.seller_id}}</td>
							<td>{{.updated_time}}</td>
							<!--字段对应区域结束-->

							<td>
								<a title="catalog delete" target="ajaxTodo" href="./dwz/demo/common/ajaxDone.html?id={{.id}}" class="btnDel">delete</a>
								<a title="catalog edit" rel="catalog_edit" target="navTab" href="./server/seller/edit.html?id={{.id}}" class="btnEdit">edit</a>
							</td>
						</tr>
						<!-- data list -->
					</tbody>
				</table>
				{{end}}
				{{end}}
			</div>
		</div>
		<div class="formBar" style="display:none;">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">save</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">cancel</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

<script>
	$(function(){
		// 初始化时间选择
		initSellerTimePick("#seller_edit_box");
		//初始化并绑定图片上传
		bindImgPicker("#seller_add_box");
	});
</script>
