<h2 class="contentTitle">edit seller</h2>
<div id="seller_edit_box" class="pageContent">
	<form method="post" action="/api/sellers" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="62">
			{{with .seller_info}}
			<div class="seller-box">
				<p>
					<label>id :</label>
					<input name="referenceid" value={{.id}} type="text" size="30"  readonly="true" />
				</p>
				<p>
					<label>name :</label>
					<input name="name" type="text" size="30" value="{{.country}}"  class="required"/>
				</p>
				<!--p>
					<label>business_type :</label>
					<input name="business_type" type="text" size="30" value="{{.business_type}}"/>
				</p-->
				<div class="unit">
					<p>
						<label>country :</label>
						<input name="country" value="{{.country}}" type="text" size="30" />
					</p>
					<p>
						<label>timezone :</label>
						<input name="timezone" value="{{.timezone}}" type="text" size="30" />
						<!--select class="combox" name="timezone">
							<option value="">{{.timezone}}</option>
							<option value="Asia/Jakarta">Asia/Jakarta</option>
							<option value="Asia/Singapore">Asia/Singapore</option>
						</select-->
					</p>
					<p>
						<label>state :</label>
						<input name="state" value="{{.state}}" type="text" size="30" />
					</p>
					<p>
						<label>city :</label>
						<input name="city" value="{{.city}}" type="text" size="30" />
					</p>
					<p>
						<label>district :</label>
						<input name="district" value="{{.district}}" type="text" size="30" />
					</p>
					<p>
						<label>street :</label>
						<input name="street" value="{{.street}}" type="text" size="30" />
					</p>
					<p>
						<label>house :</label>
						<input name="house" value="{{.house}}" type="text" size="30" />
					</p>
					<p>
						<label>postcode :</label>
						<input name="postcode" value="{{.postcode}}" type="text" size="30" />
					</p>
					<p>
						<label>geo_location :</label>
						<input name="geo_location" value="{{.geo_location}}" type="text" size="30" />
					</p>

				</div>
				<p>
					<label>phone_number :</label>
					<input name="phone_number" value="{{.phone_number}}" type="text" size="30" />
				</p>
				<div class="unit">
					<label>description :</label>
					<textarea  name="description" value="{{.description}}" rows="6" cols="104">{{.description}}</textarea>
				</div>
				<p>
					<label>tags :</label>
					<input name="tags" value="{{.tags}}" type="text" size="30" />
				</p>
				<p>
					<label>partner_level :</label>
					<input name="partner_level" value="{{.partner_level}}" type="text" size="30" />
				</p>
				<p>
					<label>cuisine :</label>
					<input name="cuisine" type="text" value="{{.cuisine}}" size="30" />
				</p>
				<p>
					<label>halal :</label>
					<input name="halal" value="{{.halal}}" type="text" size="30" />
				</p>
				<p>
					<label >est_delivery_time :</label>
					<input name="estimated_delivery_time" value="{{.estimated_delivery_time}}" type="text" size="30" />
				</p>
				<p>
					<label>tax :</label>
					<input name="tax" value="{{.tax}}" type="text" size="30" />
				</p>
				<p>
					<label>commission :</label>
					<input name="commission" value="{{.commission}}" type="text" size="30" />
				</p>
				<p>
					<label>status :</label>
					<input name="status" value="{{.status}}" type="text" size="30" />
				</p>
				<p>
					<label>active :</label>
					<input name="active" value="{{.active}}" type="text" size="30" />
				</p>
				<p>
					<label>homepage_href :</label>
					<input name="homepage_href" type="text" size="50" />
				</p>
				<div class="unit">
					<div class="left service_hours">
						<div>service_hours :</div>
						<ul class="day-time-select">
							{{with .service_hours}}
							<li  class="clearfix">
								<label>Monday :</label>
								<input name="service_hours" class="timeRange" value="{{.mon}}" type="text" size="30" />
							</li>
							<li  class="clearfix">
								<label>Tuesday :</label>
								<input name="service_hours" class="timeRange" value="{{.tue}}" type="text" size="30" />
							</li>
							<li  class="clearfix">
								<label>Wednesday :</label>
								<input name="service_hours" class="timeRange" value="{{.wed}}" type="text" size="30" />
							</li>
							<li  class="clearfix">
								<label>Thursday :</label>
								<input name="service_hours" class="timeRange" value="{{.thu}}" type="text" size="30" />
							</li>
							<li  class="clearfix">
								<label>Friday :</label>
								<input name="service_hours" class="timeRange" value="{{.fri}}" type="text" size="30" />
							</li>
							<li class="clearfix">
								<label>Saturday :</label>
								<input name="service_hours" class="timeRange" value="{{.sat}}" type="text" size="30" />
							</li>
							<li  class="clearfix">
								<label>Sunday :</label>
								<input name="service_hours" class="timeRange" value="{{.sun}}" type="text" size="30" />
							</li>
							{{end}}
						</ul>
					</div>
					<div class="right opening_hours">
						<div>opening_hours :</div>
							<ul class="day-time-select">
								{{with .opening_hours}}
								<li  class="clearfix">
									<label>Monday :</label>
									<input name="opening_hours" class="timeRange" value="{{.sun}}" type="text" size="30" />
								</li>
								<li  class="clearfix">
									<label>Tuesday :</label>
									<input name="opening_hours" class="timeRange" value="{{.tue}}" type="text" size="30" />
								</li>
								<li  class="clearfix">
									<label>Wednesday :</label>
									<input name="opening_hours" class="timeRange" value="{{.wed}}" type="text" size="30" />
								</li>
								<li  class="clearfix">
									<label>Thursday :</label>
									<input name="opening_hours" class="timeRange" value="{{.thu}}" type="text" size="30" />
								</li>
								<li  class="clearfix">
									<label>Friday :</label>
									<input name="opening_hours" class="timeRange" value="{{.fri}}" type="text" size="30" />
								</li>
								<li class="clearfix">
									<label>Saturday :</label>
									<input name="opening_hours" class="timeRange" value="{{.sat}}" type="text" size="30" />
								</li>
								<li  class="clearfix">
									<label>Sunday :</label>
									<input name="opening_hours" class="timeRange" value="{{.sun}}" type="text" size="30" />
								</li>
								{{end}}
							</ul>
						</div>
				</div>
				<div class="unit">
					<label>icon :</label>
					<!--dom结构部分-->
					<div class="upload-img-one grab-upload">
						<!-- class img-one:单张图 img-more:多张图 data-input-name代表后台对象的接收字段名-->
						<div class="img-picker img-one">select </div>
						<div class="img-show wh100" data-input-name="icon_href">
							<!-- 有图片就显示 -->
							{{range .icon_href}}
							<div class="pic-box">
								<span class="close_img"></span>
								<img src="{{.}}">
								<input type="hidden" name="icon_href" value="{{.}}">
							</div>
							{{end}}
							<!-- 有图片就显示结束 -->
						</div>
					</div>
				</div>
				<div class="unit">
					<label>photo :</label>
					<!--dom结构部分-->
					<div class="upload-img-one grab-upload">
						<!-- class img-one:单张图 img-more:多张图 data-input-name代表后台对象的接收字段名-->
						<div class="img-picker img-more">add </div>
						<div class="img-show wh100" data-input-name="photo_href">
							<!-- 有图片就显示 -->
							{{range .photo_href}}
							<div class="pic-box">
								<span class="close_img"></span>
								<img src="{{.}}">
								<input type="hidden" name="photo_href" value="{{.}}">
							</div>
							{{end}}
							<!-- 有图片就显示结束 -->
						</div>
					</div>
				</div>
				<div class="unit clearfix  grab-btn-box">
					<div class="buttonActive mr10"><div class="buttonContent"><button type="submit">save</button></div></div>
					<div class="button"><div class="buttonContent"><button type="button" class="close">cancel</button></div></div>
				</div>
				<div class="thought-line"></div>
			</div>
			{{end}}
			<div class="item-box">
				<h2 class="contentTitle">item list</h2>
				<div class="panelBar">
					<ul class="toolBar">
						<li><a class="add" rel="item_add" href="./server/item/add.html" target="navTab" title="item add"><span>add</span></a></li>
						<li class="line">line</li>
					</ul>
				</div>
				<table class="table" width="100%">
					<thead>
						<tr>
								<!--字段对应区域开始-->
								<th>name</th>
								<th>seller_id</th>
								<th>type</th>
								<th>price</th>
								<!--字段对应区域结束-->
							<th>operate</th>
						</tr>
					</thead>
					<tbody>
					{{with .items}}
					{{range .}}
						<!-- data list  -->
						<tr target="sid_user" rel="2">
							<!--字段对应区域开始-->
							<td>{{.name}}</td>
							<td>{{.sellerid}}</td>
							<td>{{.type}}</td>
							<td>{{.price}}</td>
							<!--字段对应区域结束-->
							<td>
								<a title="item delete" target="ajaxTodo" href="./dwz/demo/common/ajaxDone.html?id={{.id}}" class="btnDel">delete</a>
								<a title="item edit" rel="item_edit" target="navTab" href="./server/item/edit.html?id={{.id}}" class="btnEdit">edit</a>
							</td>
						</tr>
						<!-- data list -->
				{{end}}
				{{end}}
					</tbody>
				</table>
			</div>
			<div class="catalog-box">
				<h2 class="contentTitle">catalog list</h2>
				<div class="panelBar">
					<ul class="toolBar">
						<li><a class="add" rel="item_add" href="./server/catalog/add.html" target="navTab" title="catalog add"><span>add</span></a></li>
						<li class="line">line</li>
					</ul>
				</div>
				<table class="table" width="100%">
					<thead>
						<tr>
							<!--字段对应区域开始-->
							<th>catalog_name</th>
							<th>catalog_status</th>
							<th>seller_id</th>
							<th>updated_time</th>
							<!--字段对应区域结束-->
							<th>operate</th>
						</tr>
					</thead>
					<tbody>
						<!-- data list  -->
						{{with .catalogs}}
						{{range .}}
						<tr target="sid_user" rel="2">
							<!--字段对应区域开始-->
							<td>{{.catalog_name}}</td>
							<td>{{.catalog_status}}</td>
							<td>{{.seller_id}}</td>
							<td>{{.updated_time}}</td>
							<!--字段对应区域结束-->

							<td>
								<a title="catalog delete" target="ajaxTodo" href="./dwz/demo/common/ajaxDone.html?id={{.id}}" class="btnDel">delete</a>
								<a title="catalog edit" rel="catalog_edit" target="navTab" href="./server/catalog/edit.html?id={{.id}}" class="btnEdit">edit</a>
							</td>
						</tr>
						{{end}}
						{{end}}
						<!-- data list -->
					</tbody>
				</table>
			</div>
		</div>
		<div class="formBar" style="display:none;">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">save</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">cancel</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>

<script>
	$(function(){
		// 初始化时间选择
		// initSellerTimePick("#seller_edit_box");
		bindSelectSDD("#seller_edit_box");
		//初始化并绑定图片上传
		bindImgPicker("#seller_edit_box");
		$(document).click(function(){
			$('#timeRange_div').remove();
		});
	});
</script>
